<style>
    .page-section {
        margin-top: 20px;
    }

</style>

<div ng-app="weather" ng-controller="homeController">
    
    <h1>I am H1</h1>

    <h2>{{title}}</h2>

    <div class="page-section">
        <label>Country Name:</label>
        <input type="text" ng-model="countryName" ng-keyup="onEnterKeyUp($event)"/>
        <button ng-click="getCities()">Get Cities</button>

    </div>

    <div class="page-section" ng-show="cities.length > 0">
        <label>Select City:</label>
        <select ng-model="selectedCity"
                ng-options="item for item in cities"></select>

        <button ng-click="getWeather()">Get Weather</button>
    </div>

    <div class="page-section" ng-show="isLoading">
        <h3>Getting Data, please wait.......</h3>
    </div>

    <div class="page-section" ng-show="resultData!== ''">
        <table class="table" ng-show="resultData.isSuccess">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Sky Condition</th>
                    <th>Temperature</th>
                    <th>Wind Speed</th>
                    <th>Visibility</th>
                    <th>Pressure</th>
                    <th>Relative Humidity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{resultData.time| date: 'dd/MMMM/yyyy'}}</td>
                    <td>{{resultData.skyConditions}}</td>
                    <td>{{resultData.temperature}}</td>
                    <td>{{resultData.wind}}</td>
                    <td>{{resultData.visibility}}</td>
                    <td>{{resultData.pressure}}</td>
                    <td>{{resultData.relativeHumidity}}</td>
                </tr>
            </tbody>
        </table>

        <p ng-hide="resultData.isSuccess">Network error, no data got.</p>
    </div>
</div>
@section scripts {
    <script src="~/ClientApp/app.js"></script>
    <script src="~/ClientApp/weatherService.js"></script>
    <script src="~/ClientApp/controller/homeController.js"></script>
}